providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/Users/werner/Ontwikkeling/Projecten/GeoMesh"
          source: "/Users/werner/Ontwikkeling/Projecten/GeoMesh/.build-tools.cson"
          name: "make"
          command: "make -j2"
          wd: "./build"
          env: {}
          modifier:
            save_all: {}
          stdout:
            pty: false
            highlighting: "hc"
            profile: "gcc_clang"
          stderr:
            highlighting: "hc"
            profile: "gcc_clang"
          output:
            console:
              close_success: true
              queue_in_buffer: true
              stdin: true
            linter:
              no_trace: false
          version: 1
        }
      ]
  }
]
